{% extends "base_generic.html" %}

{% block content %}
    <h1>Сброс пароля</h1>
    {% if validlink %}
        <p>Введите ваш новый пароль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Подтвердить"/></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}

<!--Сравни файлы с теми, что были в книге, разберись почему была ошибка.-->